<!--The content below is only a placeholder and can be replaced.-->
<div style="">
  
    <h1>{{title}}</h1>
         <br> Is this really you?
         
         <!-- *ngFor -->
         <ul>
          <li *ngFor = "let item of myArr"> {{item}}</li>
         </ul>    <br>
    <app-my-new-component></app-my-new-component>
  
    <!-- *ngIf -->
  <div *ngIf = "flag; else template1">
    <p>Inside true block</p>
    
  </div>

  <ng-template #template1> Inside false block</ng-template>

  <div *ngIf = "flag2; then template2 else template3">
    
  </div>

  <ng-template #template2> Inside if block</ng-template>
  <ng-template #template3>Inside else block</ng-template>

  <!-- Property Binding --> 
  <img width="300" alt="Angular Logo" [src]="angularLogo">

  <button type = "button" [disabled] = "btnStatus" >My Button</button>

  <!-- Event Binding -->
  <button (click) = "myEvent($event);"> Event Binding</button>

  <div (mouseenter) = "mouseEnterFunc($event);">
      <p>This section is to trigger mouse enter event</p>
  </div>
</div>



<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

